.allTrees {
    max-height: 84vh;
    margin-top: 0.4vh;
    padding-bottom: 2vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #f5f5f538; 
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: #2f5e4e;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color:  #51a388; 
}

img {
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-list-style {
    background-color: #51a388;
    color:white;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 20px;
}

.my-list-style:hover{
    background-color: #449479;
}

.title {
    background-color: #51a388;
    color:white;
    font-size: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
}

.title-back{
    background-color: #2f5e4e;
}

body{
    background-color: #50aa8eab;
    overflow: hidden;
}

.tree-form{
    background-color: #a73bdaab;
}

.not-chosen{
    margin-top: 5vh;
    height: 10vh;
    text-align: center;
    padding-top: 3.5vh;
    background-color: #51a388;
    color:white;
    font-size: 20px;
    font-weight:bold;
    margin-left: 1vw;
    margin-right: 1vw;
}

.chosen {
    margin-top: 10vh;
}
